/* Barra lateral */
:root {
    --cor-botões-barra-lateral: #6A353F;
    --cor-barra-lateral: #550C20;
    --text-color: white;
    --background-color: #ADA59A;
}

.dark-theme {
    --cor-botões-barra-lateral: #4D1504;
    --cor-barra-lateral: #260A02;
    --text-color: white;
    --background-color: #26140F;
}

body, main, aside, .content-box, nav li, nav li a {
    transition: background-color 0.3s, color 0.3s;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    background-color: var(--background-color);
}

aside {
    height: 100vh;
    width: 300px;
    background-color: var(--cor-barra-lateral);
    border-radius: 1px;
}

.profile {
    border-radius: 100%;
    padding: 0px;
    margin: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.profile img{
    border: 2px solid var(--text-color);
    align-items: center;
    width: 225px;
    height: 150px;
    max-width: 300px;
    max-height: 200px;
}

.profile-image-container {  
    width: 150px;
    height: 150px;
    overflow: hidden; /* corta as bordas da imagem */
    border-radius: 50%;
    border: 3px solid var(--text-color);
}

.profile h1 {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0%;
    align-items: center;
}

nav li{
    border: 2px solid var(--text-color);
    display: block;
    margin: 0;
    margin-bottom: 30px;
    background-color: var(--cor-botões-barra-lateral); 
    border-radius: 20px;
    width: 200px;
    height: 45px;
}

nav li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
    display: block;
}

/* Main */


main {
    flex: 1;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--background-color);
}
main .content-box {
    background-color: white;
    border-radius: 15px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.09);
}

main h1 {
    font-size: 45px;
    padding: 65px;
    padding-left: 80px;
}

main h2 {
    font-size: 30px;
    padding: 20px;
    padding-left: 110px;
}

.botao-tema{
    color: var(--text-color);
    
    padding: 20px;
    margin: 20px;
    margin-left: 1350px;
    margin-right: 0px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.09);
}